:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}

.left {
  text-align: left;
  width: 50%;
}

.right {
  text-align: right;
  width: 50%;
  margin-left: auto;
}

@media (width <= 550px) {
  .left {
    width: 100%;
  }

  .right {
    width: 100%;
    margin-left: 0;
  }
}

ul {
  list-style: none;
}

li::before {
  content: "— ";
  position: relative;
  left: -6px;
  margin-left: -21px;
  display: inline-block;
  vertical-align: top;
  margin-right: 0px;
}

h4 {
  margin: 0;
}

.search {
  background: inherit;
  border: none;
  padding: 0;
  text-align: center;
  outline: none;
  font-size: 24px;
}

.olof-img {
  transition: all 1s;
  width: 15%;
  opacity: 1;

  &.hide {
    opacity: 0;
    width: 0%;
  }
}